{
    'webHookUrl': 'Slack webhook url',
    'username': 'Notifier user name',
    'channel': 'Channel name to post message like #general',
    'icon_emoji': 'Message avatar icon like :ant:'
    'icon_url': 'Or url to avatar image'
}
